// CUSTOM DEFINITIONS
// Create any custom definitions here, before the base files are loaded. 
// See the base/_variables.scss file for variables that can be set

// Example:
// $container-selector: '.bacontainer';
// $row-selector: '.row';
// $plugins-prefix: 'bit-';

$container-selector: '.bacontainer';
$container-width: 900px;
$primary-color: #0DA900;
@import url('https://fonts.googleapis.com/css?family=Raleway'); // Import Google Fonts

@import "BACON/strip";

// PLUGINS //
// @import "BACON/bits/nr-columns"; // Non-responsive columns plugin
@import "BACON/bits/breakpoint-utilities";
// @import "BACON/bits/rmedia-wrapper"; // Responsive media helper plugin

// Your styles go here...

.example-grid {
	.row {
		margin-bottom: 1rem;

		.column, .columns {
			padding: 1rem 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 0.8em;
			background-color: #EEE;

			border-radius: $global-radius;
  			border: 1px solid darken(#EEE, 5%);
		}
	}
}

.example-code {
	background-color: #FFF;
}

.heading-font-size {
	font-size: 1.2rem;
	color: #999;
	letter-spacing: normal;
}