// Tools
//––––––––––––––––––––––––––––––––––––––––––––––––––

#{$tools-prefix}full-width {
  width: 100%;
  box-sizing: border-box;
}

#{$tools-prefix}max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

#{$tools-prefix}pull-right {
  float: right;
}

#{$tools-prefix}pull-left {
  float: left;
}